.mainNewsOffer {
  height: 100%;
}

.mainNewsOffer :global(.swiper) {
  height: 100%;

  align-items: center;
  width: clamp(350px, 40vw, 600px);
  aspect-ratio: 1 / 1;
  justify-content: center;
  display: flex;
}

.slide1,
.slide2,
.slide3 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide1 {
  background-image: url("/iphone14oferta.png");
}

.slide2 {
  background-image: url("/ofertascupom.png");
}

.slide3 {
  background-image: url("/lampada.png")
}